APP_NAME=Masonite on Docker (prod)
APP_DEBUG=False
AUTH_DRIVER=cookie
APP_URL=http://localhost:8000
KEY=03yy13HOC_0VeXt9B8lNEK6HIl0ZSPLp5hpQ27IVXRw=

MAIL_DRIVER=terminal

DB_CONNECTION=postgres
DB_HOST=db
DB_PORT=5432
DB_DATABASE=hello_masonite_prod
DB_USERNAME=hello_masonite
DB_PASSWORD=hello_masonite
DB_LOG=True
